apiVersion: ${emqx_api_version}
kind: EMQX
metadata:
  name: ${deployment_name}
  namespace: ${deployment_namespace}
spec:
  image: ${emqx_version}
  listenersServiceTemplate:
    metadata:
      annotations:
        cloud.google.com/backend-config: '{"default": "${iap_backend_config_name}"}'
        cloud.google.com/neg: '{"exposed_ports": {"${mqtt_service_port}":{"name": "${mqtt_tcp_neg_id}"}}}'